<div class='container'>
	<footer class="footer">
		<small>
			<ul>
				<li>Copyright &copy; <%= link_to 'Carlos Blog', articles_path %>
					by <a href="https://www.udemy.com">Udemy</a>
				</li>
			</ul>
		</small>
	</footer>
</div>